<form [formGroup]="formGroup" (ngSubmit)="save(formGroup.value)" class="form">

  <h1 mat-dialog-title class="title">Додання особистої картки</h1>


  <div mat-dialog-content>
    <!--Name-->
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Ім'я" formControlName="name">
        <mat-error *ngIf="formGroup.controls['name'].invalid">
          {{getError('name')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Surname-->
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Прізвище" formControlName="surname">
        <mat-error *ngIf="formGroup.controls['surname'].invalid">
          {{getError('surname')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Patronymic-->
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="По-батькові" formControlName="patronymic">
        <mat-error *ngIf="formGroup.controls['patronymic'].invalid">
          {{getError('patronymic')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Birthday-->
    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Дата народження" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['birthday'].invalid">
          {{getError('birthday')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Address-->
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Адреса" formControlName="address">
        <mat-error *ngIf="formGroup.controls['address'].invalid">
          {{getError('address')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Phone-->
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput [textMask]="{mask: datemask}" placeholder="Телефон" formControlName="phone">
        <mat-error *ngIf="formGroup.controls['phone'].invalid">
          {{getError('phone')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Email-->
    <p>
      <mat-form-field class="form-element">
        <input type="email" matInput placeholder="Електронна пошта" formControlName="email">
        <mat-error *ngIf="formGroup.controls['email'].invalid">
          {{getError('email')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Employment Type-->
    <p>
      <mat-form-field class="form-element">
        <mat-label>Вид працевлаштування</mat-label>
        <mat-select formControlName="employmentType">
          <mat-option value="Сумісник">Сумісник</mat-option>
          <mat-option value="Штатний">Штатний</mat-option>
          <mat-option value="Контракт">Контракт</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['employmentType'].invalid">
          {{getError('employmentType')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Diplomas-->
    <table mat-table [dataSource]="diplomasDataSource" class="mat-elevation-z8" style="width: 100%">

      <ng-container matColumnDef="add-delete">
        <th mat-header-cell *matHeaderCellDef style="width: 48px" (click)="openAddDiplomaModal()" class="icon-cell"> <mat-icon style="color: #1db954">add</mat-icon> </th>
        <td mat-cell *matCellDef="let element" (click)="deleteDiplomaByNumber(element.number)" class="icon-cell"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="text-cell"> Номер </th>
        <td mat-cell *matCellDef="let element" class="text-cell"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="graduationDate">
        <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата закінчення </th>
        <td mat-cell *matCellDef="let element" class="text-cell"> {{element.graduationDate  | date:'shortDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef class="text-cell"> Кваліфікація </th>
        <td mat-cell *matCellDef="let element" class="text-cell"> {{element.qualification}} </td>
      </ng-container>

      <ng-container matColumnDef="specialization">
        <th mat-header-cell *matHeaderCellDef class="text-cell"> Спеціалізація </th>
        <td mat-cell *matCellDef="let element" class="text-cell"> {{element.specialization}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="diplomasDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: diplomasDisplayedColumns;"></tr>

    </table>

    <!--Personal Card Types-->
    <p>
      Ви повинні вибрати хоча б 1
      <mat-checkbox color="primary" formControlName="isTeacher">Викладач</mat-checkbox>
      <mat-checkbox color="primary" formControlName="isEmployee">Працівник</mat-checkbox>
    </p>

    <!--Work Experience-->
    <p>
      Стаж роботи
    </p>
    <p>
      Загальний стаж роботи
    </p>
    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="totalWorkExperienceOnDatePicker" placeholder="Станом на" formControlName="totalWorkExperienceOnDate">
        <mat-datepicker-toggle matSuffix [for]="totalWorkExperienceOnDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #totalWorkExperienceOnDatePicker></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['totalWorkExperienceOnDate'].invalid">
          {{getError('totalWorkExperienceOnDate')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Років" formControlName="numberOfYearsOfTotalWorkExperience">
        <mat-error *ngIf="formGroup.controls['numberOfYearsOfTotalWorkExperience'].invalid">
          {{getError('numberOfYearsOfTotalWorkExperience')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Місяців" formControlName="numberOfMonthsOfTotalWorkExperience">
        <mat-error *ngIf="formGroup.controls['numberOfMonthsOfTotalWorkExperience'].invalid">
          {{getError('numberOfMonthsOfTotalWorkExperience')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p *ngIf="formGroup.value.isTeacher">
      Педагогічний стаж роботи
    </p>
    <p *ngIf="formGroup.value.isTeacher">
      <mat-form-field>
        <input matInput [matDatepicker]="teachingWorkExperienceOnDatePicker" placeholder="Станом на" formControlName="teachingWorkExperienceOnDate">
        <mat-datepicker-toggle matSuffix [for]="teachingWorkExperienceOnDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #teachingWorkExperienceOnDatePicker></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['teachingWorkExperienceOnDate'].invalid">
          {{getError('teachingWorkExperienceOnDate')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p *ngIf="formGroup.value.isTeacher">
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Років" formControlName="numberOfYearsOfTeachingWorkExperience">
        <mat-error *ngIf="formGroup.controls['numberOfYearsOfTeachingWorkExperience'].invalid">
          {{getError('numberOfYearsOfTeachingWorkExperience')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p *ngIf="formGroup.value.isTeacher">
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Місяців" formControlName="numberOfMonthsOfTeachingWorkExperience">
        <mat-error *ngIf="formGroup.controls['numberOfMonthsOfTeachingWorkExperience'].invalid">
          {{getError('numberOfMonthsOfTeachingWorkExperience')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Teacher Category-->
    <p *ngIf="formGroup.value.isTeacher">
      <mat-form-field class="form-element">
        <mat-label>Категорія</mat-label>
        <mat-select formControlName="teacherQualification">
          <mat-option value="Спеціалист">Спеціалист</mat-option>
          <mat-option value="2 категорія">2 категорія</mat-option>
          <mat-option value="1 категорія">1 категорія</mat-option>
          <mat-option value="Вища">Вища</mat-option>
          <mat-option value="Викладач-методист">Викладач-методист</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['teacherQualification'].invalid">
          {{getError('teacherQualification')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Teacher Category Note-->
    <p *ngIf="formGroup.value.isTeacher">
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Поле для нотатків про кваліфікацію" formControlName="teacherQualificationNote">
      </mat-form-field>
    </p>

    <!--Cycle Commission-->
    <p *ngIf="formGroup.value.isTeacher">
      <mat-form-field class="form-element">
        <mat-label>Циклова коміссія</mat-label>
        <mat-select placeholder="Тест" formControlName="cycleCommission">
          <mat-option *ngFor="let cycleCommission of cycleCommissions" [value]="cycleCommission"> {{ cycleCommission.name }} </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['cycleCommission'].invalid">
          {{getError('cycleCommission')}}
        </mat-error>
      </mat-form-field>
    </p>

    <!--Subjects-->
    <table mat-table [dataSource]="subjectsDataSource" class="mat-elevation-z8" style="width: 100%" *ngIf="formGroup.value.isTeacher">

      <ng-container matColumnDef="add-delete">
        <th mat-header-cell *matHeaderCellDef style="width: 48px" (click)="openSelectSubjectModal()" class="icon-cell"> <mat-icon style="color: #1db954">add</mat-icon> </th>
        <td mat-cell *matCellDef="let element" (click)="deleteSubject(element.id)" class="icon-cell"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="text-cell"> Назва </th>
        <td mat-cell *matCellDef="let element" class="text-cell"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="subjectsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: subjectsDisplayedColumns;"></tr>

    </table>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="formGroup.invalid || (!formGroup.value.isTeacher && !formGroup.value.isEmployee)">Зареєструватись</button>
  </div>

</form>
