<div class="block-wrapper">
  <div>
    {{vacationForm.title}}
  </div>
  <div>
    Всього положено днів: {{vacationForm.days}} 
  </div>
  <table mat-table [dataSource]="vacationForm.socialWithChildrenVacations" class="mat-elevation-z8" style="width: 100%">
          
    <ng-container matColumnDef="add-edit">
      <th mat-header-cell *matHeaderCellDef style="width: 48px" (click)="openAddVacationModal()" class="icon-cell"> <mat-icon>add</mat-icon> </th>
      <td mat-cell *matCellDef="let element" (click)="openEditVacationModal(element)" class="icon-cell"> <mat-icon>edit</mat-icon> </td>
    </ng-container>

    <ng-container matColumnDef="dateDiapason">
      <th mat-header-cell *matHeaderCellDef class="text-cell"> Період </th>
      <td mat-cell *matCellDef="let element" class="text-cell"> {{element.startOfVacationDate | date:'shortDate'}} - {{element.endOfVacationDate | date:'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="days">
      <th mat-header-cell *matHeaderCellDef class="text-cell"> Кількість днів </th>
      <td mat-cell *matCellDef="let element" class="text-cell"> {{getDaysBetweenDates(element.startOfVacationDate, element.endOfVacationDate)}} </td>
    </ng-container>

    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef class="text-cell"> № наказу </th>
      <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата наказу </th>
      <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderDate | date:'shortDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef style="width: 48px"> </th>
      <td mat-cell *matCellDef="let element" (click)="deleteVacation(element.id)" class="icon-cell"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="vacationsDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: vacationsDisplayedColumns;"></tr>
  </table>
  <div>
    Всього днів: {{getVacationDays()}} 
  </div>
  <div>
    Залишок днів: {{getLeftDays()}} 
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit" class="button" (click)="openEditVacationFormModal()">Редагувати</button>
  </div>
</div>
