<form [formGroup]="formGroup" (ngSubmit)="saveForm(formGroup.value)" class="form">

  <h1 mat-dialog-title class="title">Редагування щорічної відпустки</h1>

  <div mat-dialog-content>
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Діапазон років" formControlName="title">
        <mat-error *ngIf="formGroup.controls['title'].invalid">
          {{getError('title')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Положено днів" formControlName="days">
        <mat-error *ngIf="formGroup.controls['days'].invalid">
          {{getError('days')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Дата початку робочого року" formControlName="startOfWorkingYear">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['startOfWorkingYear'].invalid">
          {{getError('startOfWorkingYear')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Дата закінчення робочого року" formControlName="endOfWorkingYear">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['endOfWorkingYear'].invalid">
          {{getError('endOfWorkingYear')}}
        </mat-error>
      </mat-form-field>
    </p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="formGroup.invalid">Зберегти щорічну відпустку</button>
  </div>

</form>
