<ng-container *ngIf="isAdd">
  <h1 mat-dialog-title> Введіть назву нового предмету </h1>
  <div mat-dialog-content>

    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Назва предмету" [(ngModel)]="subject.name">
      </mat-form-field>
    </p>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="save()">Зберегти</button>
  </div>
</ng-container>
<ng-container *ngIf="!isAdd">
  <h1 mat-dialog-title> Редагування предмету </h1>
  <div mat-dialog-content>

    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Назва предмету" [(ngModel)]="subject.name">
      </mat-form-field>
    </p>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="save()">Зберегти</button>
  </div>
</ng-container>


