<h1 mat-dialog-title> Виберіть предмет </h1>
<div mat-dialog-content>

  <p>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Введіть предмет" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="select()">Зберегти</button>
</div>
