<div class="block-wrapper">

  <mat-tab-group>
    <mat-tab label="Особиста інформація">
      
      <div class="marging-bottom-15"></div>
      <div class="row">

        <div class="col-5">
          <div class="row">
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input type="text" matInput placeholder="Ім'я"
                [(ngModel)]="personalCard.name">
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input type="text" matInput placeholder="Прізвище"
                [(ngModel)]="personalCard.surname">
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input type="text" matInput placeholder="По батькові"
                [(ngModel)]="personalCard.patronymic">
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input matInput [matDatepicker]="birthday" placeholder="Дата народження"
                [(ngModel)]="personalCard.birthday">
                <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                <mat-datepicker #birthday></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <mat-label>Стать</mat-label>
                <mat-select
                [(ngModel)]="personalCard.sex">
                  <mat-option [value]="Sex.Male">Чоловіча</mat-option>
                  <mat-option [value]="Sex.Female">Жіноча</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input type="text" matInput [textMask]="{mask: datemask}" placeholder="Телефон"
                [(ngModel)]="personalCard.phone">
              </mat-form-field>
            </div>
          </div>
    
          <div class="marging-bottom-15"></div>
    
          <div class="row">
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input type="text" matInput placeholder="Місце народженя"
                [(ngModel)]="personalCard.birthdayAddress">
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input type="text" matInput placeholder="Адреса"
                [(ngModel)]="personalCard.address">
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input type="email" matInput placeholder="Електронна пошта"
                [(ngModel)]="personalCard.email">
              </mat-form-field>
            </div>
          </div>
    
          <div class="marging-bottom-15"></div>
    
          <div class="row">
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <mat-label>Вид працевлаштування</mat-label>
                <mat-select
                [(ngModel)]="personalCard.employmentType">
                  <mat-option value="Сумісник">Сумісник</mat-option>
                  <mat-option value="Штатний">Штатний</mat-option>
                  <mat-option value="Контракт">Контракт</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input matInput [matDatepicker]="hireDate" placeholder="Дата приняття на роботу"
                [(ngModel)]="personalCard.fireDate">
                <mat-datepicker-toggle matSuffix [for]="hireDate"></mat-datepicker-toggle>
                <mat-datepicker #hireDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field class="mat-no-padding">
                <input matInput [matDatepicker]="fireDate" placeholder="Дата звільнення"
                [(ngModel)]="personalCard.hireDate">
                <mat-datepicker-toggle matSuffix [for]="fireDate"></mat-datepicker-toggle>
                <mat-datepicker #fireDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-checkbox color="primary"
              [(ngModel)]="personalCard.isTeacher">Викладач</mat-checkbox>
              <mat-checkbox color="primary"
              [(ngModel)]="personalCard.isEmployee">Працівник</mat-checkbox>
            </div>
          </div>
        </div>
       
        <div class="col-1">
          <div id="profile-container">
            <div *ngIf="personalCard.photo"
                 [style.background-image]="'url(' + personalCard.photo + ')'"></div>
            <div *ngIf="!personalCard.photo"
                 [style.background-image]="'url(\'assets/img/no_picture.png\')'"></div>
          </div>
          <app-upload-file (fileLoaded)="loadProfilePhoto($event)"></app-upload-file>
        </div>
    
      </div>
    
      <mat-divider></mat-divider>
      <div class="marging-bottom-15"></div>
    
      <div class="row">
        <div class="col-1">
          <mat-form-field class="mat-no-padding">
            <input type="text" matInput placeholder="Освіта"
            [(ngModel)]="personalCard.education">
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="mat-no-padding">
            <input type="text" matInput placeholder="Академічний ступінь"
            [(ngModel)]="personalCard.academicDegree">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field class="mat-no-padding">
            <input type="text" matInput placeholder="Якими мовами володіїте"
            [(ngModel)]="personalCard.languages">
          </mat-form-field>
        </div>
        <div class="col-4"></div>
      </div>
    
      <div class="marging-bottom-15"></div>
    
      <!--Diplomas-->
      <table mat-table [dataSource]="diplomasDataSource" class="mat-elevation-z8" style="width: 100%">
    
        <ng-container matColumnDef="add-delete">
          <th mat-header-cell *matHeaderCellDef style="width: 48px" (click)="openAddDiplomaModal()" class="icon-cell"> <mat-icon style="color: #1db954">add</mat-icon> </th>
          <td mat-cell *matCellDef="let element" (click)="deleteDiplomaByNumber(element.number)" class="icon-cell"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
        </ng-container>
    
        <ng-container matColumnDef="nameOfTheInstitution">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Назва учбового закладу </th>
          <td mat-cell *matCellDef="let element" class="text-cell"> {{element.nameOfTheInstitution}} </td>
        </ng-container>
    
        <ng-container matColumnDef="faculty">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Факультет </th>
          <td mat-cell *matCellDef="let element" class="text-cell"> {{element.faculty}} </td>
        </ng-container>
    
        <ng-container matColumnDef="receiptDate">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата вступу </th>
          <td mat-cell *matCellDef="let element" class="text-cell"> {{element.receiptDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="graduationDate">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата закінчення </th>
          <td mat-cell *matCellDef="let element" class="text-cell"> {{element.graduationDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="specialization">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Спеціальність </th>
          <td mat-cell *matCellDef="let element" class="text-cell"> {{element.specialization}} </td>
        </ng-container>
    
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Номер </th>
          <td mat-cell *matCellDef="let element" class="text-cell"> {{element.number}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="diplomasDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: diplomasDisplayedColumns;"></tr>
    
      </table>
    
      <mat-divider></mat-divider>
      <div class="marging-bottom-15"></div>
    
      <!--Work Experience-->
      <p>
        Стаж роботи
      </p>
      <p>
        Загальний стаж роботи
      </p>
      <div class="row">
        <div class="col-1">
          <mat-form-field class="mat-no-padding">
            <input matInput [matDatepicker]="totalWorkExperienceOnDatePicker" placeholder="Станом на"
            [(ngModel)]="personalCard.totalWorkExperienceOnDate">
            <mat-datepicker-toggle matSuffix [for]="totalWorkExperienceOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #totalWorkExperienceOnDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="mat-no-padding">
            <input type="text" matInput placeholder="Років"
            [(ngModel)]="personalCard.numberOfYearsOfTotalWorkExperience">
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="mat-no-padding">
            <input type="text" matInput placeholder="Місяців"
            [(ngModel)]="personalCard.numberOfMonthsOfTotalWorkExperience">
          </mat-form-field>
        </div>
      </div>
    
      <div class="marging-bottom-15"></div>
     
      <p *ngIf="personalCard.isTeacher">
        Педагогічний стаж роботи
      </p>
      <div class="row" *ngIf="personalCard.isTeacher">
        <div class="col-1">
          <mat-form-field class="mat-no-padding">
            <input matInput [matDatepicker]="teachingWorkExperienceOnDatePicker" placeholder="Станом на"
            [(ngModel)]="personalCard.teachingWorkExperienceOnDate">
            <mat-datepicker-toggle matSuffix [for]="teachingWorkExperienceOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #teachingWorkExperienceOnDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="mat-no-padding">
            <input type="text" matInput placeholder="Років"
            [(ngModel)]="personalCard.numberOfYearsOfTeachingWorkExperience">
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field class="mat-no-padding">
            <input type="text" matInput placeholder="Місяців"
            [(ngModel)]="personalCard.numberOfMonthsOfTeachingWorkExperience">
          </mat-form-field>
        </div>
      </div>
    
      <!--Teacher Category-->
      <p *ngIf="personalCard.isTeacher">
        <mat-form-field class="mat-no-padding">
          <mat-label>Категорія</mat-label>
          <mat-select
          [(ngModel)]="personalCard.teacherQualification">
            <mat-option value="Спеціалист">Спеціалист</mat-option>
            <mat-option value="2 категорія">2 категорія</mat-option>
            <mat-option value="1 категорія">1 категорія</mat-option>
            <mat-option value="Вища">Вища</mat-option>
            <mat-option value="Викладач-методист">Викладач-методист</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    
      <!--Teacher Category Note-->
      <p *ngIf="personalCard.isTeacher">
        <mat-form-field class="mat-no-padding">
          <input type="text" matInput placeholder="Поле для нотатків про кваліфікацію"
          [(ngModel)]="personalCard.teacherQualificationNote">
        </mat-form-field>
      </p>
    
      <!--Cycle Commission-->
      <p *ngIf="personalCard.isTeacher">
        <mat-form-field class="mat-no-padding">
          <mat-label>Циклова коміссія</mat-label>
          <mat-select placeholder="Тест"
          [(ngModel)]="personalCard.cycleCommissionId">
            <mat-option *ngFor="let cycleCommission of cycleCommissions" [value]="cycleCommission.id"> {{ cycleCommission.name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    
      <!--Subjects-->
      <table mat-table [dataSource]="subjectsDataSource" class="mat-elevation-z8" style="width: 100%" *ngIf="personalCard.isTeacher">
    
        <ng-container matColumnDef="add-delete">
          <th mat-header-cell *matHeaderCellDef style="width: 48px" (click)="openSelectSubjectModal()" class="icon-cell"> <mat-icon style="color: #1db954">add</mat-icon> </th>
          <td mat-cell *matCellDef="let element" (click)="deleteSubject(element.id)" class="icon-cell"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Назва </th>
          <td mat-cell *matCellDef="let element" class="text-cell"> {{element.name}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="subjectsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: subjectsDisplayedColumns;"></tr>
    
      </table>
    
      <div class="row">
        <div class="col-1">
          <button mat-raised-button color="primary" type="submit" class="button" (click)="save()">Зберегти</button>
        </div>
        <div class="col-1" *ngIf="personalCard.id">
          <button mat-raised-button color="primary" type="submit" class="button" (click)="download()">Завантажити звіт</button>
        </div>
        <div class="col-1" *ngIf="personalCard.id">
          <button mat-raised-button color="primary" type="submit" class="button" (click)="delete()">Видалити</button>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Відпустки за робочі роки">

      <div class="marging-bottom-15"></div>

      <table mat-table [dataSource]="workingYearsDataSource" class="mat-elevation-z8" style="width: 100%">

        <ng-container matColumnDef="add-edit">
          <th mat-header-cell *matHeaderCellDef class="icon-cell green" (click)="openAddWorkingYearModal()"> <mat-icon>add</mat-icon> </th>
          <td mat-cell *matCellDef="let element" class="icon-cell green" (click)="openEditWorkingYearModal(element)"> <mat-icon>edit</mat-icon> </td>
        </ng-container>
    
        <ng-container matColumnDef="startOfWorkingYear">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата початку робочого року </th>
          <td mat-cell *matCellDef="let element" class="text-cell" [class.active]="isSelectedWorkingYear(element.id)" (click)="selectWorkingYear(element)"> <span style="cursor: pointer;">{{element.startOfWorkingYear | date:'dd/MM/yyyy'}}</span> </td>
        </ng-container>
    
        <ng-container matColumnDef="endOfWorkingYear">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата закінчення робочого року </th>
          <td mat-cell *matCellDef="let element" class="text-cell" [class.active]="isSelectedWorkingYear(element.id)" (click)="selectWorkingYear(element)"> <span style="cursor: pointer;">{{element.endOfWorkingYear | date:'dd/MM/yyyy'}}</span> </td>
        </ng-container>
    
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="icon-cell"> </th>
          <td mat-cell *matCellDef="let element" class="icon-cell" (click)="deleteWorkingYear(element.id)"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="workingYearColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: workingYearColumns;"></tr>
    
      </table>


      <ng-container *ngIf="selectedWorkingYear">
        <div class="marging-bottom-15"></div>
        <div>
          <mat-form-field class="form-element">
            <mat-label>Тип відпустки</mat-label>
            <mat-select [(ngModel)]="selectedVacationType" [ngModelOptions]="{standalone: true}">
              <mat-option [value]="VacationType.Annual">Щорічна основна + передбачена договором</mat-option>
              <mat-option [value]="VacationType.WithoutPayroll">Без збереження з/п</mat-option>
              <mat-option [value]="VacationType.AdditionalStudy">Додаткова у зв'язку з навчанням</mat-option>
              <mat-option [value]="VacationType.SocialWithChildren">Соціальна відпустка працівникам, що мають дітей</mat-option>
              <mat-option [value]="VacationType.SocialWithPregnancyOrLook">Соціальна відпустка у зв'язку з вагітністю та пологами; Соціальна відпустка для догляду</mat-option>
              <mat-option [value]="VacationType.Other">Інші види відпусток</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <ng-container [ngSwitch]="selectedVacationType">
  
          <ng-container *ngSwitchCase="VacationType.AdditionalStudy">
            <div>
              Навчальний заклад, курс: {{selectedWorkingYear.additionalStudyVacationAdditionalInfo}} 
            </div>
            <div class="marging-bottom-15"></div>
            <table mat-table [dataSource]="selectedWorkingYear.additionalStudyVacations" class="mat-elevation-z8" style="width: 100%">
                    
              <ng-container matColumnDef="add-edit">
                <th mat-header-cell *matHeaderCellDef style="width: 48px" class="icon-cell" (click)="openAddAdditionalStudyVacationModal()"> <mat-icon>add</mat-icon> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="openEditAdditionalStudyVacationModal(element)"> <mat-icon>edit</mat-icon> </td>
              </ng-container>
          
              <ng-container matColumnDef="dateDiapason">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Період </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.startOfVacationDate | date:'dd/MM/yyyy'}} - {{element.endOfVacationDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Кількість днів </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{getDaysBetweenDates(element.startOfVacationDate, element.endOfVacationDate)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> № наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="icon-cell"> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="deleteAdditionalStudyVacation(element.id)"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="additionalStudyVacationsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: additionalStudyVacationsDisplayedColumns;"></tr>
            </table>
          </ng-container>
  
          <ng-container *ngSwitchCase="VacationType.Annual">
            <div>
              Всього положено днів: {{selectedWorkingYear.annualVacationDays + getAnnualLeftDaysFromPreviousYearsWorkingYears()}} <span class="text-details">(з них {{getAnnualLeftDaysFromPreviousYearsWorkingYears()}} з минулих робочих років)</span>
            </div>
            <div class="marging-bottom-15"></div>
            <table mat-table [dataSource]="selectedWorkingYear.annualVacations" class="mat-elevation-z8" style="width: 100%">
                    
              <ng-container matColumnDef="add-edit">
                <th mat-header-cell *matHeaderCellDef style="width: 48px" class="icon-cell" (click)="openAddAnnualVacationModal()"> <mat-icon>add</mat-icon> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="openEditAnnualVacationModal(element)"> <mat-icon>edit</mat-icon> </td>
              </ng-container>
          
              <ng-container matColumnDef="dateDiapason">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Період </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.startOfVacationDate | date:'dd/MM/yyyy'}} - {{element.endOfVacationDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Кількість днів </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{getDaysBetweenDates(element.startOfVacationDate, element.endOfVacationDate)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> № наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="icon-cell"> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="deleteAnnualVacation(element.id)"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="annualVacationsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: annualVacationsDisplayedColumns;"></tr>
            </table>
          </ng-container>
  
          <ng-container *ngSwitchCase="VacationType.WithoutPayroll">
            <table mat-table [dataSource]="selectedWorkingYear.withoutPayrollVacations" class="mat-elevation-z8" style="width: 100%">
          
              <ng-container matColumnDef="add-edit">
                <th mat-header-cell *matHeaderCellDef style="width: 48px" class="icon-cell" (click)="openAddWithoutPayrollVacationModal()"> <mat-icon>add</mat-icon> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="openEditWithoutPayrollVacationModal(element)"> <mat-icon>edit</mat-icon> </td>
              </ng-container>
          
              <ng-container matColumnDef="dateDiapason">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Період </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.startOfVacationDate | date:'dd/MM/yyyy'}} - {{element.endOfVacationDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Кількість днів </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{getDaysBetweenDates(element.startOfVacationDate, element.endOfVacationDate)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> № наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Примітка </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.notes}} </td>
              </ng-container>
          
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="icon-cell"> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="deleteWithoutPayrollVacation(element.id)"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="withoutPayrollVacationsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: withoutPayrollVacationsDisplayedColumns;"></tr>
            </table>
          </ng-container>
  
          <ng-container *ngSwitchCase="VacationType.SocialWithChildren">
            <div>
              Всього положено днів: {{selectedWorkingYear.socialWithChildrenVacationDays + getSocialWithChildrenLeftDaysFromPreviousYearsWorkingYears()}}  <span class="text-details">(з них {{getSocialWithChildrenLeftDaysFromPreviousYearsWorkingYears()}} з минулих робочих років)</span>
            </div>
            <div>
              Вік дитини: {{selectedWorkingYear.socialWithChildrenVacationChildAge}} 
            </div>
            <div class="marging-bottom-15"></div>
            <table mat-table [dataSource]="selectedWorkingYear.socialWithChildrenVacations" class="mat-elevation-z8" style="width: 100%">
                    
              <ng-container matColumnDef="add-edit">
                <th mat-header-cell *matHeaderCellDef style="width: 48px" class="icon-cell" (click)="openAddSocialWithChildrenVacationModal()"> <mat-icon>add</mat-icon> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="openEditSocialWithChildrenVacationModal(element)"> <mat-icon>edit</mat-icon> </td>
              </ng-container>
          
              <ng-container matColumnDef="dateDiapason">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Період </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.startOfVacationDate | date:'dd/MM/yyyy'}} - {{element.endOfVacationDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Кількість днів </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{getDaysBetweenDates(element.startOfVacationDate, element.endOfVacationDate)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> № наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="icon-cell"> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="deleteSocialWithChildrenVacation(element.id)"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="socialWithChildrenVacationsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: socialWithChildrenVacationsDisplayedColumns;"></tr>
            </table>
          </ng-container>
  
          <ng-container *ngSwitchCase="VacationType.SocialWithPregnancyOrLook">
            <table mat-table [dataSource]="selectedWorkingYear.socialWithPregnancyOrLookVacations" class="mat-elevation-z8" style="width: 100%">
          
              <ng-container matColumnDef="add-edit">
                <th mat-header-cell *matHeaderCellDef style="width: 48px" class="icon-cell" (click)="openAddSocialWithPregnancyOrLookVacationModal()"> <mat-icon>add</mat-icon> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="openEditSocialWithPregnancyOrLookVacationModal(element)"> <mat-icon>edit</mat-icon> </td>
              </ng-container>
          
              <ng-container matColumnDef="typeOfVacation">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Тип відпустки </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.typeOfVacation}} </td>
              </ng-container>
          
              <ng-container matColumnDef="dateDiapason">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Період </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.startOfVacationDate | date:'dd/MM/yyyy'}} - {{element.endOfVacationDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Кількість днів </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{getDaysBetweenDates(element.startOfVacationDate, element.endOfVacationDate)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> № наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="icon-cell"> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="deleteSocialWithPregnancyOrLookVacation(element.id)"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="socialWithPregnancyOrLookVacationsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: socialWithPregnancyOrLookVacationsDisplayedColumns;"></tr>
            </table>
          </ng-container>
  
          <ng-container *ngSwitchCase="VacationType.Other">
            <table mat-table [dataSource]="selectedWorkingYear.otherVacations" class="mat-elevation-z8" style="width: 100%">
          
              <ng-container matColumnDef="add-edit">
                <th mat-header-cell *matHeaderCellDef style="width: 48px" class="icon-cell" (click)="openAddOtherVacationModal()"> <mat-icon>add</mat-icon> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="openEditOtherVacationModal(element)"> <mat-icon>edit</mat-icon> </td>
              </ng-container>
          
              <ng-container matColumnDef="typeOfVacation">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Тип відпустки </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.typeOfVacation}} </td>
              </ng-container>
          
              <ng-container matColumnDef="dateDiapason">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Період </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.startOfVacationDate | date:'dd/MM/yyyy'}} - {{element.endOfVacationDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="days">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Кількість днів </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{getDaysBetweenDates(element.startOfVacationDate, element.endOfVacationDate)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> № наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата наказу </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.orderDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef class="text-cell"> Примітка </th>
                <td mat-cell *matCellDef="let element" class="text-cell"> {{element.notes}} </td>
              </ng-container>
          
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="icon-cell"> </th>
                <td mat-cell *matCellDef="let element" class="icon-cell" (click)="deleteOtherVacation(element.id)"> <mat-icon style="color: #D33;">delete</mat-icon> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="otherVacationsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: otherVacationsDisplayedColumns;"></tr>
            </table>
          </ng-container>
  
        </ng-container>
      </ng-container>
   

    </mat-tab>
  </mat-tab-group>

  

</div>

<div class="modal-notif failure active" [class.active]="showValidationError">
  <i class="ic"></i><span class="description">{{errorMessage}}</span>
</div>