<div class="block-wrapper">
  <form [formGroup]="formGroup" class="form">
    <!--<h1 mat-dialog-title class="title">Перегляд особистої картки ({{ typeOfPersonalCard }})</h1>-->
    <mat-tab-group>
      <mat-tab [label]="'Особиста інформація (' + typeOfPersonalCard + ')'">
        <div>
          <p>
            ФІО: {{ personalCard.surname }} {{ personalCard.name }} {{ personalCard.patronymic}}
          </p>
          <p>
            Дата народження: {{ personalCard.birthday | date:'shortDate' }}
          </p>
          <p>
            Адреса: {{ personalCard.address }}
          </p>
          <p>
            Телефон: {{ personalCard.phoneNumber }}
          </p>
          <p>
            Пошта: {{ personalCard.email }}
          </p>
          <p>
            Вид працевлаштування: {{ personalCard.employmentType }}
          </p>

          <!--Diplomas-->
          <p>
            Освіта
          </p>
          <table mat-table [dataSource]="diplomasDataSource" class="mat-elevation-z8" style="width: 100%">

            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef class="text-cell"> Номер </th>
              <td mat-cell *matCellDef="let element" class="text-cell"> {{element.number}} </td>
            </ng-container>

            <ng-container matColumnDef="graduationDate">
              <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата закінчення </th>
              <td mat-cell *matCellDef="let element" class="text-cell"> {{element.graduationDate  | date:'shortDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="qualification">
              <th mat-header-cell *matHeaderCellDef class="text-cell"> Кваліфікація </th>
              <td mat-cell *matCellDef="let element" class="text-cell"> {{element.qualification}} </td>
            </ng-container>

            <ng-container matColumnDef="specialization">
              <th mat-header-cell *matHeaderCellDef class="text-cell"> Спеціалізація </th>
              <td mat-cell *matCellDef="let element" class="text-cell"> {{element.specialization}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="diplomasDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: diplomasDisplayedColumns;"></tr>

          </table>

          <p *ngIf="formGroup.value.isTeacher">
            Категорія: {{ personalCard.teacherQualification }}
          </p>
          <p *ngIf="formGroup.value.isTeacher">
            Нотатки до категорії: {{ personalCard.teacherQualificationNote }}
          </p>
          <p *ngIf="formGroup.value.isTeacher">
            Циклова комісія: {{ personalCard.cycleCommission.name }}
          </p>
          <p *ngIf="formGroup.value.isTeacher">
            Предмети:
          </p>
          <table mat-table [dataSource]="subjectsDataSource" class="mat-elevation-z8" style="width: 100%" *ngIf="formGroup.value.isTeacher">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="text-cell"> Назва </th>
              <td mat-cell *matCellDef="let element" class="text-cell"> {{element.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="subjectsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: subjectsDisplayedColumns;"></tr>

          </table>
        </div>
        <div>
          <button mat-raised-button color="primary" type="submit" class="button" (click)="openEditPersonalCardModal()">Редагувати</button>
        </div>
      </mat-tab>
      <mat-tab label="Відпустки">
        <div>
          <mat-form-field class="form-element">
            <mat-label>Тип відпустки</mat-label>
            <mat-select [(ngModel)]="selectedVacationType" [ngModelOptions]="{standalone: true}">
              <mat-option [value]="VacationType.Annual">Щорічна основна + передбачена договором</mat-option>
              <mat-option [value]="VacationType.WithoutPayroll">Без збереження з/п</mat-option>
              <mat-option [value]="VacationType.AdditionalStudy">Додаткова у зв'язку з навчанням</mat-option>
              <mat-option [value]="VacationType.SocialWithChildren">Соціальна відпустка працівникам, що мають дітей</mat-option>
              <mat-option [value]="VacationType.SocialWithPregnancyOrLook">Соціальна відпустка у зв'язку з вагітністю та пологами; Соціальна відпустка для догляду</mat-option>
              <mat-option [value]="VacationType.Other">Інші види відпусток</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <ng-container [ngSwitch]="selectedVacationType">

          <ng-container *ngSwitchCase="VacationType.AdditionalStudy">
            <div>
              <mat-icon (click)="openAddAdditionalStudyVacationFormModal()">add</mat-icon>
              <span (click)="openAddAdditionalStudyVacationFormModal()">Додати відпустку для навчання</span>
            </div>
            <div class="block-wrapper vacation" *ngFor="let form of additionalStudyVacationForms" (click)="navigateToAdditionalStudyVacationForm(form)">
              {{ form.title }}
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="VacationType.Annual">
            <div>
              <mat-icon (click)="openAddAnnualVacationFormModal()">add</mat-icon>
              <span (click)="openAddAnnualVacationFormModal()">Додати щорічну відпустку</span>
            </div>
            <div>
              Всього положено днів: {{getDaysOfAnnualVacationForm()}} 
            </div>
            <div class="block-wrapper vacation" *ngFor="let form of annualVacationForms" (click)="navigateToAnnualVacationForm(form)">
              {{ form.title }}
            </div>
            <div>
              Всього днів: {{getVacationDaysOfAnnualVacationForm()}} 
            </div>
            <div>
              Залишок днів: {{getLeftDaysOfAnnualVacationForm()}} 
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="VacationType.WithoutPayroll">
            <div>
              <mat-icon (click)="openAddWithoutPayrollVacationFormModal()">add</mat-icon>
              <span (click)="openAddWithoutPayrollVacationFormModal()">Додати відпустку без збереження з/п</span>
            </div>
            <div class="block-wrapper vacation" *ngFor="let form of withoutPayrollVacationForms" (click)="navigateToWithoutPayrollVacationForm(form)">
              {{ form.title }}
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="VacationType.SocialWithChildren">
            <div>
              <mat-icon (click)="openAddSocialWithChildrenVacationFormModal()">add</mat-icon>
              <span (click)="openAddSocialWithChildrenVacationFormModal()">Додати соціальну відпустку</span>
            </div>
            <div>
              Всього положено днів: {{getDaysOfSocialWithChildrenVacationForm()}} 
            </div>
            <div class="block-wrapper vacation" *ngFor="let form of socialWithChildrenVacationForms" (click)="navigateToSocialWithChildrenVacationForm(form)">
              {{ form.title }}
            </div>
            <div>
              Всього днів: {{getVacationDaysOfSocialWithChildrenVacationForm()}} 
            </div>
            <div>
              Залишок днів: {{getLeftDaysOfSocialWithChildrenVacationForm()}} 
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="VacationType.SocialWithPregnancyOrLook">
            <div>
              <mat-icon (click)="openAddSocialWithPregnancyOrLookVacationFormModal()">add</mat-icon>
              <span (click)="openAddSocialWithPregnancyOrLookVacationFormModal()">Додати соціальну відпустку</span>
            </div>
            <div class="block-wrapper vacation" *ngFor="let form of socialWithPregnancyOrLookVacationForms" (click)="navigateToSocialWithPregnancyOrLookVacationForm(form)">
              {{ form.title }}
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="VacationType.Other">
            <div>
              <mat-icon (click)="openAddOtherVacationFormModal()">add</mat-icon>
              <span (click)="openAddOtherVacationFormModal()">Додати відпустку іншого виду</span>
            </div>
            <div class="block-wrapper vacation" *ngFor="let form of otherVacationForms" (click)="navigateToOtherVacationForm(form)">
              {{ form.title }}
            </div>
          </ng-container>

        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
