<div class="block-wrapper">
  <form [formGroup]="formGroup" class="form">

    <h1 mat-dialog-title class="title">Перегляд особистої картки ({{ typeOfPersonalCard }})</h1>

    <div>
      <p>
        ФІО: {{ personalCard.surname }} {{ personalCard.name }} {{ personalCard.patronymic}}
      </p>
      <p>
        Дата народження: {{ personalCard.birthday | date:'shortDate' }}
      </p>
      <p>
        Адреса: {{ personalCard.address }}
      </p>
      <p>
        Телефон: {{ personalCard.phoneNumber }}
      </p>
      <p>
        Пошта: {{ personalCard.email }}
      </p>
      <p>
        Вид працевлаштування: {{ personalCard.employmentType }}
      </p>
      <p *ngIf="formGroup.value.isTeacher">
        Циклова комісія: {{ personalCard.cycleCommission.name }}
      </p>
      <p *ngIf="formGroup.value.isTeacher">
        Предмети:
      </p>
      <table mat-table [dataSource]="subjectsDataSource" class="mat-elevation-z8" style="width: 100%" *ngIf="formGroup.value.isTeacher">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-cell"> Назва </th>
          <td mat-cell *matCellDef="let element" class="text-cell"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="subjectsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: subjectsDisplayedColumns;"></tr>

      </table>
    </div>

    <div>
      <button mat-raised-button color="primary" type="submit" class="button" (click)="openEditPersonalCardModal()">Редагувати</button>
    </div>

  </form>

</div>
