mat-form-field {
  width: 100%;
}

.button {
  width: 100%;
}

.mat-dialog-title {
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
}

table {
  margin-bottom: 10px;
}

.mat-icon {
  color: #1db954;
}

.block-wrapper .vacation {
  display: inline-block;
}

#profile-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5%;
}

#profile-container div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.mat-divider {
  margin-left: -15px;
  margin-right: -15px;
}

.mat-checkbox {
  line-height: 45px;
}

.mat-checkbox + .mat-checkbox{
  margin-left: 15px;
}

.block-wrapper {
  padding-left: 0;
  padding-right: 0;
}

::ng-deep .mat-tab-body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.text-details {
  opacity: 0.5;
}