mat-form-field {
  width: 100%;
}

.button {
  margin-bottom: 20px;
  width: 100%;
}

mat-dialog-title {
  margin-bottom: 10px;
}

.cycle-commission-wrapper {
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(204,204,204,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cycle-commission-icons {
  margin-left: auto;
}

.cycle-commission-icons > .mat-icon {
  margin-left: 10px;
}

.anchor-icon {
  transition: all 0.4s ease;
  transform: rotateZ(90deg);
  opacity: .42;
}

.anchor-icon.selected {
  color: #1db954;
  transform: rotateZ(0deg);
  opacity: 1;
}

.more-icon {
  opacity: .42;
}

#subjects-list {
  transition: 0.25s ease;
}

#subjects-list.disabled {
  opacity: 0;
}

.action-icon {
  opacity: .42;
  transition: 0.25s ease;
}

.action-icon.hide {
  opacity: 0;
}

.block-wrapper > p:first-child {
  margin-bottom: 20px;
}