mat-form-field {
  width: 100%;
}

.button {
  margin-bottom: 20px;
  width: 100%;
}

mat-dialog-title {
  margin-bottom: 10px;
}

.mat-icon {
  color: #1db954;
}

h5 {
  margin-bottom: 1rem;
}

.tp-card {
  max-width: 400px;
}

.tp-header-image {

  background: url('assets/img/IMG_1624.png') no-repeat center center;
  background-size: cover;
}
