<div class="block-wrapper">
  <h5>Особисті картки</h5>
  <table mat-table [dataSource]="personalCards" class="mat-elevation-z8" style="width: 100%">

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef style="width: 48px">  </th>
      <td mat-cell *matCellDef="let element" class="icon-cell"> <mat-icon (click)="editPersonalCard(element)">edit</mat-icon> </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="text-cell"> Ім'я </th>
      <td mat-cell *matCellDef="let element" class="text-cell"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef class="text-cell"> Прізвище </th>
      <td mat-cell *matCellDef="let element" class="text-cell"> {{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef class="text-cell"> Дата народження </th>
      <td mat-cell *matCellDef="let element" class="text-cell"> {{element.birthday}} </td>
    </ng-container>

    <ng-container matColumnDef="employmentType">
      <th mat-header-cell *matHeaderCellDef class="text-cell"> Працевлаштування </th>
      <td mat-cell *matCellDef="let element" class="text-cell"> {{element.employmentType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
