<form [formGroup]="formGroup" (ngSubmit)="add(formGroup.value)" class="form">

  <h1 mat-dialog-title class="title">Додання данних про диплом</h1>


  <div mat-dialog-content>
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Назва учбового закладу" formControlName="nameOfTheInstitution">
        <mat-error *ngIf="formGroup.controls['nameOfTheInstitution'].invalid">
          {{getError('nameOfTheInstitution')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Факультет" formControlName="faculty">
        <mat-error *ngIf="formGroup.controls['faculty'].invalid">
          {{getError('faculty')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="receiptDate" placeholder="Дата вступу" formControlName="receiptDate">
        <mat-datepicker-toggle matSuffix [for]="receiptDate"></mat-datepicker-toggle>
        <mat-datepicker #receiptDate></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['receiptDate'].invalid">
          {{getError('receiptDate')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput [matDatepicker]="graduationDate" placeholder="Дата закінчення" formControlName="graduationDate">
        <mat-datepicker-toggle matSuffix [for]="graduationDate"></mat-datepicker-toggle>
        <mat-datepicker #graduationDate></mat-datepicker>
        <mat-error *ngIf="formGroup.controls['graduationDate'].invalid">
          {{getError('graduationDate')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Спеціальність" formControlName="specialization">
        <mat-error *ngIf="formGroup.controls['specialization'].invalid">
          {{getError('specialization')}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Номер диплома" formControlName="number">
        <mat-error *ngIf="formGroup.controls['number'].invalid">
          {{getError('number')}}
        </mat-error>
      </mat-form-field>
    </p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="formGroup.invalid">Додати диплом</button>
  </div>

</form>
